<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.MemberMapper">

<!-- 회원가입 처리 SQL -->
	
	<insert id="registerMember" parameterType="Member">
		INSERT INTO members
		(
			userid
		  , username
		  , userpassword
		  , nickname
		  , gender
		)
		VALUES
		(
		   #{userid}
		  , #{username}
		  , #{userpassword}
		  , #{nickname}
		  , #{gender}
		)
	</insert>
	
    <select id="selectOne" parameterType="Member" resultType="Member">
		SELECT 
			userid
		   , userpassword
		   , username
		   , nickname
		   , gender
		FROM 
			members
		WHERE 
			userid= #{userid}
		<if test="userpassword!=null">
		and userpassword = #{userpassword}
		</if>
	</select>
	

</mapper>



